DISCORD_API_KEY=
DISCORD_CHANNEL_ID=
#Google API Config
GOOGLE_API_KEY=
GOOGLE_CX=
#OpenAI API Config
OPENAI_API_KEY=
OPENAI_ACTIVE=false
OPENAI_MODEL=gpt-4o
#Google AI API Config
GOOGLEAI_API_KEY=
GOOGLEAI_ACTIVE=true
GOOGLEAI_MODEL=gemini-2.5-flash-lite
GOOGLEAI_IMAGE_MODEL=gemini-2.5-flash-image-preview
#QuoteDB API Config
QUOTEDB_API_KEY=
QUOTEDB_USER_ID=
#TikTok Live Posting
TZ=Europe/London
TIKTOK_USERNAME=
TIKTOK_LIVE_CHANNEL_IDS=
LIVE_DISPLAY_NAME=
LIVE_START_TIME=14
LIVE_END_TIME=18
TWITCH_STREAM=false
TWITCH_USERNAME=
INSTA_STREAM=false
INSTA_USERNAME=
